/*
Show sidepanel button
*/
*{padding:0;margin:0;}

.sidebtn{
	opacity: 0.65;
	position:fixed;
	width:38px;
	height:38px;
	bottom:400px;
	left:10px;
	background: #ddd url(../../right-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	z-index: 1;
}

.sideicon{
	margin-top:4px;
}
